body {
    height: 100%;
    width: 100%;
    background-image: url("https://images.alphacoders.com/112/thumb-1920-1129289.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
    font-size: 7vh;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: gold
}