body {
    background-image: url("https://64.media.tumblr.com/59fd3cd91939a427cac708b992cad301/tumblr_ohx2xpUsAJ1v1vxovo1_1280.gifv");
    background-size: 100% 100%;
}

#sleep {
    transform: scale(.05);
}

#feed {
    transform: scale(.2)
}

#train {
    transform: scale(.2);
}

h1 {
    text-align: center;
}

#pet {
    transform: scale(.2)
}

/* #pet:hover {
    transform: rotateY(100deg);
} */

/* .startButton {
    height: 100vh;
    width: 100vw;
    background: url("https://i.pinimg.com/736x/f7/89/e2/f789e25629939ceef6d66371d59d6235--alternative-wallpapers.jpg");
    opacity: .1;
} */

